importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
# we need to initiate outside of the loop
data = pd.DataFrame()

# 1960 to 2012 are in the same format lol
for x in range(1960, 1970):
    url = 'http://www.billboardtop100of.com/' + str(x) + '-2/'
    html = urlopen(url)

    # creating a beautiful soup object
    soup = BeautifulSoup(html, 'lxml')

    # find the table and then convert it into a string
    html_table = str(soup.find('table'))

    # turn that str into a pd dataframe
    temp = pd.read_html(html_table)
    temp = temp[0]

    # fix up columns
    temp.columns = ['rank', 'artist', 'song']
    temp['year'] = x
    data = data.append(temp, ignore_index = True)

data

,rank,artist,song,year
0,1,Percy Faith,Theme From “A Summer Place”,1960
1,2,Jim Reeves,He’ll Have To Go,1960
2,3,Everly Brothers,Cathy’s Clown,1960
3,4,Johnny Preston,Running Bear,1960
4,5,Mark Dinning,Teen Angel,1960
...,...,...,...,...
995,96,Guess Who,Laughing,1969
996,97,David Ruffin,My Whole World Ended (The Moment You Left Me),1969
997,98,Box Tops,Soul Deep,1969
998,99,B.J. Thomas,Hooked On A Feeling,1969
999,100,Box Tops,Sweet Cream Ladies,1969

In [ ]:
# 1960 to 2012 are in the same format lol
for x in range(1970, 2013):
    url = 'http://www.billboardtop100of.com/' + str(x) + '-2/'
    html = urlopen(url)

    # creating a beautiful soup object
    soup = BeautifulSoup(html, 'lxml')

    # find the table and then convert it into a string
    html_table = str(soup.find('table'))

    # turn that str into a pd dataframe
    temp = pd.read_html(html_table)
    temp = temp[0]

    # fix up columns
    temp.columns = ['rank', 'artist', 'song']
    temp['year'] = x
    data = data.append(temp, ignore_index = True)

In [ ]:
data

In [ ]:
data.to_csv('data.csv', index=False)

In [3]:
# reading in data on top songs
df = pd.read_csv('data.csv')

# no punctuation, lower case, no spaces
df['artist']= df['artist'].str.replace(r'[^\w\s]+','').str.lower().str.replace(' ', '')
df["song"] = df['song'].str.replace(r'[^\w\s]+','').str.lower().str.replace(' ', '')

df2 = df.head(100)
df2

    rank           artist                   song  year
0      1       percyfaith  themefromasummerplace  1960
1      2        jimreeves           hellhavetogo  1960
2      3   everlybrothers            cathysclown  1960
3      4    johnnypreston            runningbear  1960
4      5      markdinning              teenangel  1960
..   ...              ...                    ...   ...
95    96      bobbyrydell        littlebittygirl  1960
96    97     barretstrong                  money  1960
97    98  mauricewilliams                   stay  1960
98    99      charlierich         lonelyweekends  1960
99   100        larryhall                  sandy  1960

[100 rows x 4 columns]

In [ ]:
# http://ws.audioscrobbler.com/2.0/?method=artist.gettoptags&artist=cher&api_key=190fe4a90413f7f072239c2872d834f6&format=json